/* ==UserStyle==
@name           AdventOfCode background
@namespace      gitlab.com/tmokenc/tmokenc-script
@version        1.0.0
@description    background for adventofcode
@author         tmokenc
==/UserStyle== */

@-moz-document domain("adventofcode.com") {
    :root {
/*         --main-bg: url(https://cdn.discordapp.com/attachments/512404979772948489/746726900621246474/65569661_p0.png); */
        --main-bg: url(https://conoha.mikumo.com/wp-content/uploads/2021/11/2560x1440-3.jpg?btn_id=conoha-christmas2021--wallpaper_mikumo-wp-content-2560x1440-3);
        --app-bg: rgba(0, 0, 0, 0.7);
    }

    body {
        background: var(--main-bg) fixed no-repeat;
        background-size: cover;
    }
    
    body > * {
        background: var(--app-bg)
    }
}
