/* ==UserStyle==
@name           AnimeWS Cloud9
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Anime background for Cloud9 IDE on AWS
@author         tmokenc
==/UserStyle== */

@-moz-document regexp(".*\.aws\.amazon\.com\/cloud9\/ide\/.*") {
    :root {
        --main-bg: url(https://conoha.mikumo.com/wp-content/uploads/2021/11/2560x1440-3.jpg?btn_id=conoha-christmas2021--wallpaper_mikumo-wp-content-2560x1440-3);
        
        --background: rgba(0, 0, 0, 0.72);
        --line-number: rgba(0, 0, 0, 0.2);
        --active-line: rgba(0, 0, 0, 0.4);
        --current-tab: rgba(0, 0, 0, 0.5);
        
        --textbox-background: transparent;
        --menu-bar-background: transparent;
        --panel-bar-background: transparent;
        --gotoanything-input-color-bg: transparent;
        --preferences-background: transparent;
        --preferences-nav-background: transparent;
        --preferences-nav-active-area-background: transparent;
        --preferences-header-background: transparent;
    }
    
    
    body {
        background: var(--main-bg);
        background-size: cover;
    }
    
    #q1 {
        background-color: var(--background);
    }
    
    .c9-status-bar {
        --panel-bar-background: var(--background);
    }
    
    .editor_tab > div.session_page, 
    .panel-bar,
    .searchbox > div,
    .c9terminal .c9terminalcontainer, 
    .ace-jett,
    .editor_tab .btnsesssioncontainer {
        background-color: transparent !important;
    }
    
    .ace_gutter {
        background-color: var(--line-number) !important;
    }
    
    .ace_active-line, .ace_selection, .ace_gutter-active-line, .selected {
        background-color: var(--active-line) !important;
    }
    
    .curbtn {
        background-color: var(--current-tab) !important;
    }
}
