/* ==UserStyle==
@name           Discord Background
@namespace      https://gitlab.com/tmokenc/tmokenc-script
@version        1.0.0
@description    Changing discord wallpaper and make everything transparent
@author         tmokenc
==/UserStyle== */

@-moz-document regexp(".*discord.com/channels/.*") {
    :root {
        --main-bg: url(https://cdn.discordapp.com/attachments/503833044122075148/1006529225211269130/unknown.png);
        
        --background-tertiary: rgba(0, 0, 0, 0.05);
        --background-primary: transparent;
        --background-secondary: rgba(0, 0, 0, 0.1);
        --background-secondary-alt: rgba(0, 0, 0, 0.2);
        --channeltextarea-background: rgba(0, 0, 0, 0.34);
        --scrollbar-auto-scrollbar-color-thumb: rgba(0, 0, 0, 0.34);
        --scrollbar-auto-scrollbar-color-track: rgba(0, 0, 0, 0.34);
    }
    
    body {
        background: var(--main-bg);
        background-size: cover;
    }
    
    .container-3wLKDe, /* forum */
    .container-2cd8Mz, /* home */
    .inset-SbsSFp /* inset in home */ {
        background: var(--background-primary) !important;
    }
    
    /* Home Header */
    .container-ZMc96U.themed-Hp1KC_ {
        background: none;
    }
    
    #app-mount {
        background-color: rgba(0, 0, 0, 0.6);
    }
    
    .search-36MZv- {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 100px;
    }
    
}
