/* ==UserStyle==
@name           Discord emoji normal size
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    small the emoji
@author         tmokenc
==/UserStyle== */

@-moz-document domain("discord.com") {
    /* Insert code here... */
    .emoji.jumboable {
        max-width: 2em;
        max-height: 2em;
    }
    
    .embedFieldName-NFrena {
        color: #fff;
    }
    
/*     .markupRtl-3M0hmN:hover, .content-3dzVd8:hover {
        background: #333333;
    } */
}
