/* ==UserStyle==
@name           HentaiVerse qbu rgb
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Centered and transparented the HentaiVerse
@author         tmokenc
==/UserStyle== */
@-moz-document domain("hentaiverse.org") {
    :root {
        --main-bg: url(https://cdn.discordapp.com/attachments/512404979772948489/746726900621246474/65569661_p0.png);
        --app-bg: rgba(255, 255, 255, 0.6);
        --menu-bg: rgba(255, 255, 255, 0.8);
        --hover-bg: rgba(221, 221, 221, 0.8);
    }

    body {
        background: var(--main-bg);
    }

    #csp {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -351px 0 0 -618px;
/*         transform: translate(-50%, -50%); */
    }

    #csp,
    #hvut-bottom {
        background: var(--app-bg);
    }

    .hvut-top-sub,
    .cfb:hover,
    select[name="persona_set"],
    select[name="persona_set"]:hover,
    select[name="persona_set"]:focus,
    #lottery_eqstat,
    #popup_box {
        background: var(--menu-bg);
    }

    .equiplist > div:hover {
        background: var(--hover-bg);
    }
}
